%note {
  border-top: $curve-radius solid;
  border-radius: $curve-radius;

  .title,
  .content {
    white-space: pre-wrap;
  }
}

%theme-yellow {
  @extend %note;
  border-top-color: $theme-yellow-strip;
  background: $theme-yellow-bg;
  color: $theme-light-text;
}

%depth-shadow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.08), 0 3px 8px rgba(0,0,0,0.1);
  transition-property: box-shadow;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;

  &:hover {
    box-shadow: 0 6.4px 14.4px rgba(0,0,0,0.13),0 1.2px 3.6px rgba(0,0,0,0.1);
  }
}